.imageviewer {
  flex-grow: 3;
  width: 100%;
  min-width: 400px;
  max-width: 800px;
  display: flex;
}
.mainimagecontainer {
  padding: 1em;
  width: 100%;
}

.mainimage {
  max-width: 100%;
  min-width: 100%;
}

.visualselector {
  list-style: none;
  padding-left: 0px;
  margin-left: 0px;
}

.imagebutton {
  max-width: 40px;
  border-style: solid;
  border-width: 1px;
  margin: 3px;
}

.imagebuttonhover {
  max-width: 40px;
  border: 1px solid black;
  outline: none;
  box-shadow: 0 0 10px #ff6600;
  margin: 3px;
}
