.imageviewer {
  flex-grow: 2;
  width: 100%;
  min-width: 400px;
  max-width: 800px;
  display: flex;
}
.mainimagecontainer {
  padding: 1em;
  width: 100%;
}

.mainimage {
  max-width: 100%;
  min-width: 100%;
}

.visualselector {
  list-style: none;
  padding-left: 0px;
  margin-left: 0px;
}
