.visualselector {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.summaryitem {
  font-size: 14px;
  padding-bottom: 1em;
}
.variationname {
  font-size: 13px;
  font-weight: 700;
}

.dropdown {
  height: 30px;
  width: 100px;
  border-radius: 0;
  padding-left: 10px;
  font-size: small;

  /* Removes the default <select> styling */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  /* Positions background arrow image */
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAh0lEQVQ4T93TMQrCUAzG8V9x8QziiYSuXdzFC7h4AcELOPQAdXYovZCHEATlgQV5GFTe1ozJlz/kS1IpjKqw3wQBVyy++JI0y1GTe7DCBbMAckeNIQKk/BanALBB+16LtnDELoMcsM/BESDlz2heDR3WePwKSLo5eoxz3z6NNcFD+vu3ij14Aqz/DxGbKB7CAAAAAElFTkSuQmCC");
  background-repeat: no-repeat;
  background-position: 75px center;
}
